<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd ">

    <!--声明组件扫描器（component-scan） ， 组件就是java对象
        base-package ： 指定注解在你的项目中的包名
        component-scan工作方式 ： spring会扫描base-package指定的包，
        把包中和子包中所有的类 ，找到类中的注解 ， 按照注解功能创建对象 ，或给属性赋值。



        加入 <context : component-scan标签 , 配置文件的变化 :
            1. 加入一个新的约束文件spring-context.xsd  (context 在spring里面可能有多个,所以用束文件: spring-context.xsd, 来区别)
            2. 给这个新的约束文件起个命名空间的名称
    -->

    <context:component-scan base-package="com.lypowernode.ba01"/>
</beans>
